








.button {
    background: url(images/Box-1.png);
    color: #49d3b4;
    color: #ffffff;
    font: 600 27px / 42px 'Source Sans Pro';
    
    color: #ffffff;
    font: 600 27px / 42px 'Source Sans Pro';

}

.box1 {
    width: 337px;
    height: 82px;
    background: url(images/Box-1.png);
    border-radius: 5px;
}